
.app{
    height: 100vh;
    
    .sections{
        width: 100%;
        height: calc(100vh - 90px);
        background-color: coral;
        position: relative;
        top: 90px;

        > *{
            width: 100vw;
        }

    }
    
}